/* This imports the two google fonts that I want to use */
@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap");

/* This sets the color variables that I want to use */
:root {
  --primary-color: #c5b8a3;
  --secondary-color: #834841;
}

/* Set all items to use border-box sizing */
* {
  box-sizing: border-box;
}

/* Sets body to use flex to display all sections, and sets the font and background color */
body {
  font-family: "Muli", sans-serif;
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* This sets the background width and colors, and adds padding to the top and bottom */
header {
  background-color: var(--secondary-color);
  text-align: center;
  margin-top: 0;
  width: 100vw;
  color: #d8cec0;
  padding: 10px 0;
}

/* Next two sections style the header text */
header h1 {
  font-size: 2.5rem;
  margin-bottom: 0;
  font-family: "Happy Monkey", serif;
  letter-spacing: 0.15rem;
}

header h2 {
  letter-spacing: 0.1rem;
  margin-top: 5px;
  font-size: 1.12rem;
}

/* This creates the HR effect of a dashed line */
hr {
  width: 100%;
  height: 0px;
  border: 0;
  border-top: 1px dashed var(--secondary-color);
}

article {
  padding: 10px;
}

/* This centers the intro, about me, and contact sections, and sets the container widths to 800px; */
#intro,
#about-me,
#contact,
article {
  position: relative;
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
}

/* Adds an indent to all paragraphs in About section */
#about-me > p {
  text-indent: 4rem;
}

#about-me img {
  border-radius: 15%;
  box-shadow: 3px 3px 11px 1px rgba(0, 0, 0, 0.3),
    inset 3px 3px 10px 9px rgb(0 0 0 / 30%);
}

/* This sets my portrait style and image, and adds an inset shadow and outset shadow to add polish */
#self-portrait {
  margin-top: 20px;
  border-radius: 15%;
  height: 460px;
  width: 460px;
  position: relative;
  background: url("./images/me.png");
  background-size: cover;
  overflow: visible;
  box-shadow: 5px 5px 11px 2px rgba(0, 0, 0, 0.3),
    inset 3px 3px 10px 9px rgb(0 0 0 / 30%);
}

/* This adds a clean border to the portrait */
#self-portrait::before {
  content: "";
  width: 459px;
  height: 458px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15%;
}

/* This makes the Github and Linkedin logos a bit larger */
.fab {
  font-size: 1.2rem;
}

#contact ol {
  text-align: center;
}

/* adds a little space between the list items */
#contact ol li {
  margin: 5px 0px;
}

#contact a {
  text-decoration: none;
}

/* This makes the linkedin logo turn blue when it's li is hovered */
#contact li:hover .fa-linkedin {
  color: blue;
  cursor: pointer;
}

a:link {
  color: #8d1b1b;
}

a:visited {
  color: #834841;
}

a:hover {
  color: blue;
}

a:active {
  color: lightblue;
}

footer {
  background-color: var(--secondary-color);
  text-align: center;
  margin-bottom: 0;
  width: 100vw;
  color: #d8cec0;
  padding: 30px 0;
}

@media (max-width: 800px) {
  #intro,
  #about-me,
  #contact,
  article {
    max-width: 700px;
  }
  #self-portrait {
    width: 360px;
    height: 360px;
  }
  #self-portrait::before {
    width: 359px;
    height: 358px;
  }
}
